.button-main {
  cursor: pointer;

  padding: 8px 20px;

  font-family: $fontMain;
  font-size: 16px;
  line-height: 24px;

  border-radius: 4px;
  background: $basePrimary;
  border: none;

  color: $baseWhite;

  &:focus,
  &:hover {
    outline: none;
    border: none;
    background: $primaryLighter;
  }

  &:active {
    background: $primaryDarker;
  }

  &:disabled {
    background: $baseGrey;
  }
}

.button-additional {
  cursor: pointer;

  padding: 8px 20px;

  font-family: $fontMain;
  font-size: 16px;
  line-height: 24px;

  border-radius: 4px;
  background: $baseWhite;
  border: none;

  color: $basePrimary;

  &:focus,
  &:hover {
    outline: none;
    border: none;
    color: $baseWhite;
    background: $primaryLighter;
  }

  &:active {
    color: $baseWhite;
    background: $primaryDarker;
  }

  &:disabled {
    color: $baseWhite;
    background: $baseGrey;
  }
}
