@import "logo";

.header__logo-text {
  display: none;
}

.header {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: -3px;
}

.header__subnavigation {
  margin: 0;

  padding: 0;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 22px;

  &:focus,
  &:hover {
    outline: none;
    border: none;
    color: $basePrimary;

    & .header__icon {
      fill: $basePrimary;
    }
  }

  &:active {
    background-color: $baseSecondary;
    color: $basePrimary;

    & .header__icon {
      fill: $basePrimary;
    }
  }
}

.header__icon {
  fill: $baseBlack;
}

.header__button-text {
  display: none;
}

.header__burger-icon_active {
  width: 12px;
  height: 12px;
  margin: 2px;
}

.header__navigation_active {
  padding-bottom: 229px;
  position: relative;
}

.header__links {
  position: absolute;
  top: 60px;
  left: -74%;
  min-width: 320px;

  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.header__item {
  display: flex;
  border-top: 1px solid $baseSecondary;

  &:last-child {
    border-bottom: 1px solid $baseSecondary;
  }
}

.header__link {
  padding-block: 20px;
  width: 100%;

  text-decoration: none;
  color: $baseBlack;
  text-align: center;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.24px;
  text-transform: uppercase;

  &:active {
    background-color: $baseSecondary;
  }

  &:focus,
  &:hover {
    outline: none;
    border: none;
    color: $basePrimary;
  }
}

@media (min-width: 768px) {
  .header {
    justify-content: normal;

    margin-bottom: 0;
  }

  .header__button {
    padding-block: 30px;
  }

  .header__navigation {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  .header__links {
    position: static;
    flex-direction: row;
  }

  .header__item {
    &:last-child {
      border: none;
    }
  }

  .header__link {
    width: auto;
    padding: 30px 20px;
    border-bottom: 2px solid transparent;

    &--active {
      color: $basePrimary;
      border-bottom: 2px solid $basePrimary;
    }

    &:focus,
    &:hover {
      outline: none;
      border: none;
      border-bottom: 2px solid $basePrimary;
      color: $basePrimary;
    }

    &:active {
      color: $basePrimary;
      background-color: $baseSecondary;
    }
  }

  .header__menu-link {
    &:last-child {
      display: none;
    }
  }
}

@media (min-width: 1440px) {
  .header {
    padding-inline: 40px;
    margin-inline: 8px;
  }

  .header__logo {
    align-items: center;
    text-decoration: none;
    color: inherit;

    margin-right: 162px;
  }

  .header__logo-text {
    display: block;
    padding-left: 20px;
  }

  .header__navigation {
    flex-grow: 1;
    justify-content: space-between;
  }

  .header__subnavigation {
    gap: 20px;
  }

  .header__links {
    gap: 20px;
  }

  .header__button {
    display: flex;
    gap: 8px;

    padding: 32px 20px;
  }

  .header__button-text {
    display: block;

    font-family: $fontMain;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.24px;
    text-transform: uppercase;
  }
}
