/* здесь используйте глобальные селекторы img, body, html и так далее*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --width: 320px;
}

@media (min-width: 768px) {
  :root {
    --width: 768px;
  }
}

@media (min-width: 1440px) {
  :root {
    --width: 1440px;
  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
  // outline: 1px dotted purple;
}

html {
  height: 100%;
  min-width: var(--width);
}

body {
  background-color: $baseWhite;

  margin: 0;

  font-family: $fontMain;
  font-size: 12px;
  color: $baseBlack;
  font-style: normal;
  font-weight: 400;

  height: auto;

  min-height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}


.underscore {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: 1px;
    background-color: $baseSecondary;
  }
}

.wrapped {
  text-wrap: balance;
}
