$baseWhite: hsl(0, 0%, 100%);
$baseGrey: hsl(0, 0%, 74%);
$baseBlack: hsl(0, 0%, 20%);
$basePrimary: hsl(256, 55%, 58%);
$baseSecondary: hsl(255, 100%, 96%);

$primaryLighter: hsl(255, 77%, 68%);
$primaryDarker: hsl(256, 48%, 45%);
$lightGrey: hsl(0, 0%, 89%);

$bgGrey: hsl(0, 0%, 97%);
$bgWhite: hsl(33, 43%, 92%);
$bgLavender: hsl(251, 79%, 95%);
$bgEspresso: hsl(220, 6%, 90%);

$fontMain: "Montserrat", sans-serif;

$mobile-offset: 20px;
$desktop-offset: 40px;
