/* GLOBAL */
@import "global/variables";
@import "global/global";
@import "global/fonts";

/* BLOCKS */
@import "blocks/button";
@import "blocks/radio";
@import "blocks/checkbox";
@import "blocks/range";

@import "blocks/header";
@import "blocks/slider";
@import "blocks/benefits";
@import "blocks/catalog";
@import "blocks/map";
@import "blocks/footer";